@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0; }

nav a {
  font-size: 1.1rem;
  background: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;
  position: relative; }

nav img {
  height: 55px;
  width: 55px;
  margin-bottom: 5px; }

nav a:hover, nav a:focus {
  background-size: 100% 3px; }

.bg-black {
  background: black; }

.heightNav {
  height: 18vh; }

body {
  color: black; }

.titulo__principal--color {
  color: #0d9ad1;
  font-size: 2.5rem;
  margin: 0.5rem; }

.titulo__secundario--tamaño, .subtitulo-style {
  font-size: 1.5rem;
  color: #0d9ad1;
  padding-top: 4px;
  padding-bottom: 4px; }

section p {
  font-family: cursive;
  font-size: 1rem;
}


main p {
  margin-top: 6px;
  font-size: 1rem;
  font-family: cursive;
  padding: 0; 
}

main article{
  margin: 5px;

}


.contenido__precio--bold {
  font-weight: bold; }


footer {
  background-color: black;
  color: white;
  margin-top: 10px; }
  footer p {
    text-align: start;
    padding: 5px 10px;
    font-size: 1rem; }
  footer div img {
    width: 90px;
    height: 50px;
    border-radius: 10px; }


li a {
  text-decoration: none;
  color: white;
  transition: color .2s; }
  li a:hover {
    color: #05AFF2; }

h4 {
 margin-top: 2px;
  padding: 4px;
  font-size: 1.2rem;
  text-align: start; }

.secciones li{
  list-style:none;
}

footer h4:hover{
  color: #0d9ad1;
  cursor: pointer;
}

.img-email {
  width: 50px;
  height: 40px; }

.img--tamaño {
  width: 50px;
  height: 50px;
  padding: 10px;
  }


@media only screen and (min-width: 768px) {
  nav img {
    height: 60px;
    width: 60px; } }

@media only screen and (min-width: 992px) {
  .heightNav {
    height: 16vh; }
  nav img {
    padding-top: 10px; } }

@media only screen and (min-width: 992px) {
  .efecto-img {
    position: relative; }
  .efecto-img:hover {
    transform: translate(10px, 20px); } }

