@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$f-family:"lato, san-serif";
$f-sizehtml: 62.5%;
$f-sizeNab:1.8rem;
$f-sizeContent:1rem;
$f-sizeSubtitulo:2rem;
$f-sizeTitulo:2.4rem;

$l-spacingContent:1.5px;
$l-heightTitulo:20px;
$l-heightContent:10px;

$colorWhite:white;
$colorBlack:black;
$colorInfo: #05AFF2;

$t-decorationNone:none;
$t-alignCenter:center;
$t-alignStar:start;

